<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
  <!-- Baloncuk içinde başlıkları içeren div -->
  <div class="bubble">
    <h1>Bu site sizin ruh halinize uygun önerileri sunmak için tasarlanmışır.</h1>
    <h2>HAZIRSANIZ BAŞLAYALIM...</h2>
  </div>
  
  <h3>GİRİŞ</h3>
  
  {% if error %}
    <p style="color: red;">{{ error }}</p>
  {% endif %}
  
  <form method="POST" action="{{ url_for('login') }}">
    <input type="text" name="username" placeholder="Kullanıcı Adı" required>
    <input type="password" name="password" placeholder="Şifre" required>
    <button type="submit">Giriş</button>
  </form>

  <p style="margin-top: 15px;">Henüz hesabınız yok mu? 
    <a href="{{ url_for('register') }}">Kayıt Ol</a>
    
  </p>
</body>
</html>
