<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recommendation</title>
</head>
<body>
    <h2>Here's a New Recommendation for You!</h2>
    <h3>Category: {{ category }}</h3>

    <!-- Bu kısmı yalnızca bir kez gösteriyoruz -->
    <div class="details">
        <h2>{{ item.title }}</h2>
        <p>{{ item.description }}</p>
    </div>

    <a href="{{ url_for('next_recommendation', mood=mood, category=category) }}">Next Recommendation</a>
</body>
</html>